h1,
h2,
h3,
h5 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 64px;
  color: #ffffff;
}

p {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.hero {
  background-image: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
  text-align: left;
  padding: 160px 100px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.hero h2 {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  color: #ffffff;
}

.btn-branding {
  font-family: "Mulish", sans-serif;
  background: #6bfff1;
  border-radius: 4px;
  color: #0008a3;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  padding: 20px 40px;
}

.animated-gif {
  display: flex;
  justify-content: center;
}

img .woman-codes {
  width: 100%;
}

.watermark {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  color: #ffffff;
}

.featured-title h2 {
  font-size: 40px;
  color: #5c64ff;
}

.second-app {
  margin-top: 80px;
}

.btn-branding-outline {
  font-family: "Mulish", sans-serif;
  color: #4751ff;
  border: 2px solid #5c64ff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  color: #000dff;
}

.app-title,
.app-content,
.intro {
  color: #000566;
}

.about-title {
  color: #5c64ff;
}

.about-section,
.content-container {
  padding: 160px 100px;
}

.about-section-content {
  margin: 30px;
}

.content-container h3 {
  font-size: 24px;
}

.content-container p {
  font-size: 16px;
}
